body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    
}
  .experiences-top{
      background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;
  }  
  #web-development{
      border-image:linear-gradient(salmon,tomato);
      border-image-slice: 1;
      border-left:7px solid ;
  }
  #web-part{
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left:7px solid ;
  }
  footer p{
      text-align: center;
  }




